@tailwind base;
@tailwind components;
@tailwind utilities;

/* Article Styling */
.article * {
  line-height: 1.61;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
p + p,
p + a {
  margin-top: 1rem;
}

h1 {
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
small {
  font-size: 0.8rem;
}
